/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Oleo+Script&family=Open+Sans:ital,wght@0,300;0,400;0,800;1,400;1,800&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  min-height: 10px;
  border: 1px solid red;
}

.row {
  margin: 8px;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid blue;
}

[class^=col-] {
  width: 100%;
  min-height: 50px;
  margin: 4px;
  background: rgba(255, 0, 255, 0.2);
}

@media screen and (min-width: 500px) {
  .col-1 {
    width: calc(8.3333333333% - 8px);
  }

  .col-2 {
    width: calc(16.6666666667% - 8px);
  }

  .col-3 {
    width: calc(25% - 8px);
  }

  .col-4 {
    width: calc(33.3333333333% - 8px);
  }

  .col-5 {
    width: calc(41.6666666667% - 8px);
  }

  .col-6 {
    width: calc(50% - 8px);
  }

  .col-7 {
    width: calc(58.3333333333% - 8px);
  }

  .col-8 {
    width: calc(66.6666666667% - 8px);
  }

  .col-9 {
    width: calc(75% - 8px);
  }

  .col-10 {
    width: calc(83.3333333333% - 8px);
  }

  .col-11 {
    width: calc(91.6666666667% - 8px);
  }

  .col-12 {
    width: calc(100% - 8px);
  }
}
.first_site_background {
  background-color: #E4E4E4;
  width: 100%;
  display: flex;
}

.site_container {
  width: 80%;
  margin: 0 auto;
}
@media (max-width: 728px) {
  .site_container {
    width: 95%;
  }
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
@media (max-width: 728px) {
  header {
    justify-content: center;
  }
}

.logo_container {
  display: flex;
  align-items: center;
}
@media (max-width: 728px) {
  .logo_container {
    flex-direction: column;
  }
}

.logo {
  text-align: center;
  font-family: "Oleo Script";
  font-size: 3.25em;
  color: white;
  background-color: #FC4887;
  letter-spacing: 0.05em;
  padding: 0.25em 0.2em 0.25em 0.2em;
  width: 2.7em;
  border-radius: 6px;
  margin: 10px;
}

.logo_text {
  font-family: "Open Sans";
  font-weight: 800;
  letter-spacing: 0.025em;
  font-size: 0.9em;
  color: #696969;
  padding: 0 20px;
}

.main_menu a {
  text-decoration: none;
  color: #696969;
  font-family: "Open Sans";
  padding: 7px 14px;
  font-weight: 800;
  font-size: 13px;
  border-radius: 6px;
}

.main_menu a:focus {
  background-color: #444444;
  color: white;
}

@media (max-width: 728px) {
  .main_menu {
    display: none;
  }
}

.hamburger_menu {
  position: absolute;
  left: 0;
  top: 0;
  height: 1px;
  padding: 30px;
  cursor: pointer;
}
@media (min-width: 984px) {
  .hamburger_menu {
    display: none;
  }
}
@media (min-width: 728px) and (max-width: 984px) {
  .hamburger_menu {
    display: none;
  }
}
@media (max-width: 728px) {
  .hamburger_menu {
    display: block;
  }
}
.hamburger_menu .hamburger_line {
  width: 20px;
  height: 2px;
  display: block;
  margin-bottom: 3px;
  background-color: #1691C3;
  transition: 0.3s all ease-in-out;
}

.hamburger_checkbox {
  display: none;
}

.hamburger_checkbox:checked ~ .menu_container {
  display: flex;
  align-items: flex-start;
}
.hamburger_checkbox:checked ~ .menu_container div {
  padding: 15px;
  border: none;
}
.hamburger_checkbox:checked ~ .hamburger_menu span:nth-of-type(1) {
  transform: rotate(45deg) translate(2px, 5px);
}
.hamburger_checkbox:checked ~ .hamburger_menu span:nth-of-type(2) {
  opacity: 0;
}
.hamburger_checkbox:checked ~ .hamburger_menu span:nth-of-type(3) {
  transform: rotate(-45deg) translate(2px, -5px);
}

main {
  background-color: white;
  width: 100%;
  border-radius: 6px;
  display: flex;
  padding: 80px 0;
  margin-bottom: 50px;
}
@media (max-width: 728px) {
  main {
    display: block;
  }
}

.main_left_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  padding: 20px;
}
@media (max-width: 728px) {
  .main_left_container {
    width: 100%;
    align-items: center;
    padding: 20px 0;
  }
}
.main_left_container h2 {
  font-size: 3.5em;
  font-weight: 800;
  color: #444444;
  font-family: "Open Sans";
  margin-bottom: 20px;
  text-align: center;
}
.main_left_container h3 {
  font-size: 2.75em;
  line-height: 1.35em;
  font-family: "Open Sans";
  color: #696969;
  text-align: center;
}

.main_right_container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (max-width: 728px) {
  .main_right_container {
    width: 100%;
  }
}

.main_buttons {
  background-color: #1691C3;
  font-size: 33px;
  color: white;
  font-family: "Open Sans";
  font-weight: 800;
  border-radius: 6px;
  padding: 24px 30px;
  border: none;
  width: 70%;
}

.main_buttons:last-child {
  margin-top: 20px;
  background-color: #E4E4E4;
  color: #444444;
}

.row {
  border: none;
}

.col-4 {
  background-color: white;
}

.article_image {
  width: 100%;
}

.article_content {
  padding: 20px;
}

.article_title {
  margin-top: 20px;
  font-family: "Open Sans";
  font-size: 20px;
  font-weight: 800;
}

.article_description {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 2.25em;
}

.article_text {
  font-family: "Open Sans";
  font-size: 14px;
  line-height: 2.25em;
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */
