@mixin mobile {
  @media (max-width: 728px) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: 728px) and (max-width: 984px) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: 984px) {
    @content;
  }
}

.first_site_background {
  background-color: $color_background;
  width: 100%;
  display: flex;
}

.site_container {
  width: 80%;
  margin: 0 auto;
  @include mobile {
    width: 95%;
  }
}

header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
  @include mobile {
    justify-content: center;
  }
}

.logo_container {
  display: flex;
  align-items: center;
  @include mobile {
    flex-direction: column;
  }
}

.logo {
  text-align: center;
  font-family: $font_oleo ;
  font-size: 3.25em;
  color: white;
  background-color: $color-secondary;
  letter-spacing: 0.05em;
  padding: 0.25em 0.2em 0.25em 0.2em;
  width: 2.7em;
  border-radius: 6px;
  margin: 10px;
}

.logo_text {
  font-family: $font_opensans;
  font-weight: 800;
  letter-spacing: 0.025em;
  font-size: 0.9em;
  color: $color_menu;
  padding: 0 20px;
}

.main_menu a {
  text-decoration: none;
  color: $color_menu;
  font-family: $font_opensans;
  padding: 7px 14px;
  font-weight: 800;
  font-size: 13px;
  border-radius: 6px;
}

.main_menu a:focus {
  background-color: #444444;
  color: white;
}

.main_menu {
  @include mobile {
    display: none;
  }
}

.hamburger_menu {
  position: absolute;
  content: " ";
  left: 0;
  top: 30px;
  @include tablet {
    display: none;
  }
  @include  desktop {
    display: none;
  }
}


.custom_checkbox {
  display: none;
}

.custom_checkbox + span {
  height: 1px;
  padding: 30px;
  background-image: url("/images/hamburger-menu.svg");
  background-size: contain;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
}

.custom_checkbox:checked + span {
  height: 1px;
  padding: 30px;
  background-image: url("/images/icons8-close.svg");
  background-size: contain;
  background-position: center;
  cursor: pointer;
  background-repeat: no-repeat;
}